.corpo{
    border: 1px solid black;
    height: 600px;
    background-color: rgba(209, 43, 43, 0.082);
    padding: 8em 8em 8em 8em;  
}
h1{
    color: black;
}
.btn{
    margin: 1em !important;
}

.flexBoxCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
